* {
    box-sizing: border-box;
}

.alert-container {
    position: absolute;
    z-index: 2;
    position: absolute;
    width: 80%;
    left: 12%;
    z-index: 2;
}

i {
    cursor: pointer;
}

.todo-field {
    border-radius: 5px;
    border: 1px solid #ccc !important;
    font-size: 12px !important;
    background-color: #fff !important;
}

.todo-field::placeholder {
    opacity: 0.5;
    font-weight: 400;
    font-size: 12px;
}

.todo-field:focus {
    box-shadow: none !important;
    border: 1px solid #9d9797 !important;
}

.react-datepicker__view-calendar-icon input {
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


/* Side bar */
.css-1wvake5 {
    width: 242px !important;
    min-width: 242px !important;
}

/* Login Page */

.login-page {
    width: 100%;
}

.login-left-section {
    background: url("../../../public/stock-photo-coffee-cup-and-notebook-with-to-do-list-on-blue-rustic-desk-from-above-planning-and-design-concept-384639760.jpg");
    /* background: url("../../../public/Crush\ Your\ Own\ To-Do\ List.jfif"); */
    background-size: cover;
    /* width: 80%; */
}

/* @media (max-width: 576px) {
    .login-left-section {
        display: none;
    }
} */

.login-signup-container {
    padding: 60px;
    background: linear-gradient(178deg, #c3dae4, transparent);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 40px;
    max-height: 650px;
    overflow-y: scroll;
}


/* Home Container */

@media (max-width: 576px) {
    .sidebar-todo {
        display: none !important;
    }
}

::-webkit-scrollbar {
    display: none;
}

.content-container {
    height: 92vh;
    padding: 0 15px 0px 40px;
    /* width: 100%; */
    /* padding-top: 50px; */
    overflow-y: scroll;

}

.main-content-container {
    /* height: 100vh;
    width: 100%;
    padding-top: 50px;
    overflow: scroll; */
    display: flex;
}

@media (max-width: 576px) {
    .main-content-container {
        width: 100% !important;
    }
}



/* Add Task Component */

.task-card {
    padding: 8px;
    gap: 9px;
}

.task-main-title,
.login-main-title {
    font-size: clamp(16px, 2vw, 25px);
}

.field-required {
    color: red;
    font-size: 13px;
}

.adv-options-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}












/* Task Item */
.task-item-container {
    /* display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    gap: 10px;
}

.dynamic-task-item-container p,
.dynamic-task-item-container small {
    text-decoration: line-through;
}

.task-header-and-value-wrapper {
    display: flex;
    flex-direction: column;
}


.task-heading {
    /* display: none; */
    font-weight: 500;
}

.task-name-container {
    /* min-width: 130px;
    max-width: 130px; */
}

.task-edit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none !important;
}

@media (max-width: 576px) {
    .task-item-container {
        /* flex-direction: column; */
        /* align-items: self-start; */
    }

    .task-header-and-value-wrapper {
        display: none;
        /* flex-direction: row;
        width: 100%;
        justify-content: space-between; */
    }

    .task-heading {
        display: block;
        margin-right: 10px;
    }

    .task-edit-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}




.task-item-container p {
    margin: 1rem;
}