.header-container {
    height: 8vh;
    /* min-height: 8vh; */
}

.header-container i {
    cursor: pointer;
}

.header-container .navbar-nav {
    align-items: center;
    /* border: 1px solid red; */
}

.logout-button {
    /* margin-top: 3px; */
    height: 36px;
    color: #fff !important;
    font-weight: 700 !important;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7931e !important;
}