.cashbook-details-list-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    max-height: 346px;
    min-height: 100px;
    overflow: scroll;
}

.cashbook-details-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 40px; */
    padding: 10px;
}

.cashbook-date-text {
    color: rgb(162 149 149);
}

.cashbook-total-container {
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
}